*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.title{
    border-radius: 50%;
    background-color: rgb(229, 168, 32);
    color: white;
    padding: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

h1{
    font-size:100px;
    text-align: center;
    height: fit-content;
}
h2{
    font-size: 60px;
    text-align: center;
    color: white;
}