@page "/exams/{SubjectId:int}"
@inject ApplicationDbContext Db
@using ExamSystem.Models

<h3>Exams</h3>

@if (exams == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var e in exams)
        {
            <li>
                <a href="/exam/@e.Id">@e.Title</a>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public int SubjectId { get; set; }

    private List<ExamSystem.Models.Exam>? exams;

    protected override async Task OnInitializedAsync()
    {
        exams = await Db.Exams.Where(x => x.SubjectId == SubjectId).ToListAsync();
    }
}
