@page "/"

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron bg-light p-5 rounded-lg m-0">
            <h1 class="display-4">Welcome to Exam System</h1>
            <p class="lead">Manage your exams and subjects efficiently</p>
            <hr class="my-4" />
            <p>Use the navigation menu to go to Subjects or Admin pages.</p>
            <a class="btn btn-primary btn-lg" href="/subjects" role="button">View Subjects</a>
            <a class="btn btn-info btn-lg ms-2" href="/admin/subjects" role="button">Admin Panel</a>
        </div>
    </div>
</div>
